---
clusterName: {{ _cluster_name }}
clusterURL: {{ _url }}
clusterAuthToken: {{ _token }}
clusterSet: gitops-clusters
clusterLabels:
{% for key, value in _labels.items() %}
{% if key == "managed-hub" %}
{% if value | bool %}
  managed-hub: "yes"
{% endif %}
{% else %}
  {{ key }}: {{ value }}
{% endif %}
{% endfor %}
...
