{% for repo in _repos -%}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ repo.name }}
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
{% for env, value in repo.items() %}
  {{ env }}: {{ value }}
{% endfor %}
{% endfor %}
...
