---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: repo-{{ repo_name }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: {{ repo_name }}
  project: gitops
  type: {{ repo_type }}
  url: {{ repo_url }}
{% if repo_username != "xX_Xx" %}
  username: {{ repo_username }}
{% endif %}
{% if repo_password != "xX_Xx" %}
  password: {{ repo_password }}
{% endif %}
...
