{% for env, data in argo_repos.items() -%}
  {% for repo in data -%}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ env }}-{{ repo.name }}
  namespace: rhacm-policies
  labels:
    sync-secret/env: {{ env }}
    sync-secret/type: global-hub
    sync-secret/app: openshift-gitops
    app.kubernetes.io/managed-by: rhacm
    argocd.argoproj.io/secret-type: repository
  annotations:
    sync-secret/aux: sync       # also sync to target namespace, in addition to rhacm-policies namespace
    sync-secret/target-name: {{ repo.name }}
    sync-secret/target-namespace: openshift-gitops
stringData:
  {{ repo | to_nice_yaml | indent(2) }}
  {%- endfor %}
{% endfor %}
{% for repo in argo_repos[env] -%}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ repo.name }}
  namespace: openshift-gitops
  labels:
    app.kubernetes.io/managed-by: rhacm
    argocd.argoproj.io/secret-type: repository
stringData:
  {{ repo | to_nice_yaml | indent(2) }}
{%- endfor %}
...
