# a bit redundant to check _data.dev, _data.uat and _data.prod are all a dict/mapping, but batter safe than sorry
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ _secret_name }}
  namespace: rhacm-policies
  labels:
    {% for key, value in _labels.items() -%}
    {{ key }}: {{ value }}
    {% endfor -%}
    rhacm-policies/sync-hub-secret: "yes"
  annotations:
    {% for key, value in _annotations.items() -%}
    {{ key }}: {{ value }}
    {% endfor -%}
    rhacm-policies/structure: {{ (_data.dev is mapping and _data.uat is mapping and _data.prod is mapping) | ternary("dict", "list") }}
    rhacm-policies/target-name: {{ _target_name }}
    rhacm-policies/target-namespace: {{ _target_namespace }}
stringData:
{% for env, value in _data.items() %}
  {{ env }}: '{{ value | to_json }}'
{% endfor %}
...
