---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ item.secret_name }}
  namespace: rhacm-policies
  labels:
    {% for key, value in item.labels.items() -%}
    {{ key }}: {{ value }}
    {% endfor -%}
    rhacm-policies/sync-hub-secret: "yes"
  annotations:
    {% for key, value in item.annotations.items() -%}
    {{ key }}: {{ value }}
    {% endfor -%}
    rhacm-policies/structure: {{ item.data.dev is mapping | ternary("dict", "list") }}
    rhacm-policies/target-name: {{ item.target_name }}
    rhacm-policies/target-namespace: {{ item.target_namespace }}
stringData:
{% for env, value in item.data.items() %}
  {{ env }}: '{{ value | to_json }}'
{% endfor %}
...
