{% for env, data in metallb_bgp.items() %}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ env }}-metallb-bgp-password
  namespace: rhacm-policies
  labels:
    sync-secret/env: {{ env }}
    sync-secret/type: global-hub
    sync-secret/app: metallb-bgp-password
  annotations:
    sync-secret/aux: no-sync       # sync to rhacm-policies namespace only, do not sync to target namespace
    sync-secret/target-name: metallb-bgp-password
    sync-secret/target-namespace: metallb-system
stringData:
  {{ data | to_nice_yaml | indent(2) }}
{%- endfor %}
...
