---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: openshift-logging-token-all-envs
  namespace: rhacm-policies
  labels:
    rhacm-policies/sync-hub-secret: "yes"
  annotations:
    rhacm-policies/structure: simple
    rhacm-policies/target-name: openshift-logging-token
    rhacm-policies/target-namespace: rhacm-policies
stringData:
{% for env, value in _data.items() %}
  {{ env }}: |
    {{ value | to_nice_yaml | indent(width=4, first=False) }}
{% endfor %}
...
